body {
  background-color: #d0fdd7; /* verde bem claro */
  font-family: Arial, sans-serif;
  padding: 20px;
 }

 h1 {
  color: #006064;
  text-align: center;
 }

 p {
  font-size: 18px;
  text-align: justify;
 }

 ul {
  line-height: 2;
 }

 img {
  border-radius: 10px;
  margin-top: 10px;
 }

 table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  margin-top: 15px;
 }

 a {
  color: #006064;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
 }

 a:hover {
  color: #ff6f00;
 }